:root {
    /* add color scheme here */
}
* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    margin: 0;
}

.header {
    display: flex;
    position: relative;
    /* text-align: center; */
    border-bottom: groove lightblue 5px;
}

.header-text {
    text-shadow: 4px 4px 4px darkgray;
    font-size: 200%;
    color: white;
    position:absolute;
    top: 10%;
    left: 10%;
}

.header-image {
    height: 200px;
    width: 100%;
    background-image: url(assets/images/background-header.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}


/* nav {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
} */
.navigation ul {
    position: absolute;
    top: 10%;
    left: 65%;
    padding: 2%;
    list-style-type: none;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* margin: 2%; */
    justify-content: space-between;
    border: 50px whitesmoke;
}

.navigation a {
    text-shadow: 4px 4px 4px darkgray;
    font-weight: bolder;
    text-decoration: none;
    white-space: nowrap;
    color: white;
    display: inline-flex;
    flex-direction: row;
    /* margin: 2%; */
    padding: 10px;
    justify-content: flex-end;
}
/* .navigation li::after {
    content: "|";
} */

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: space-between; */
    border-right: groove lightblue 5px;
    align: left;
    width: 20%;
    padding: 10px;
}

.container h2 {
    font-size: 200%;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-between;
    width: 80%;
    padding: 10px;
}
.about-me {

}
.my-work {
    display: flex;
    flex-wrap: wrap;
}
.contact {

}
footer {

}